.features {
  padding: 2rem 0;
  width: 100%;
}

.featureCard {
  padding: 1.5rem;
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 8px;
  height: 100%;
  text-align: center;
}

[data-theme='dark'] .featureCard {
  border-color: var(--ifm-color-emphasis-300);
}
